/*Estilo para el incidente*/
.containerI{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
  }

.contI{
    flex: 0;
    border-color: black;
}